@CHARSET "UTF-8";
body {
    font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif";
    font-weight: normal;
    background-color:#eee;
}
.jumbotron {
    text-align: center;
    background-color: #cf4646;
    color: #fff;
}
.jumbotron .btn-getting-started:hover, .jumbotron .btn-getting-started:active {
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    background-color: transparent;
}

.jumbotron .btn-getting-started {
    color: #efbfbf;
    border: none;
    box-shadow: inset 0 0 0 2px #efbfbf;
    border-radius: 2px;
    background-color: transparent;
    margin-top: 26px;
}
.header {
    background: #222;
    background-repeat: no-repeat;
    background-position: center 0;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 138px 0 0;
    text-align: center;
    min-height: 400px;
    position: relative;
    margin-bottom:20px;
}
.logotxt {
    margin-bottom: 30px;
    border: 0;
}
.logotxt a {
    font-weight: 700;
    color: #fff;
    font-size: 64px;
}

.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}

.bs-docs-header {
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
}
.bs-docs-header {
    margin-bottom: 40px;
    font-size: 20px;
}
.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 60px 0;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}