.panel-single-post {
    border: 1px solid #eee;
    border-radius: 0;
}
.panel-default {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-single-post > .panel-heading {
    position: relative;
    color: #fff;
    padding: 25px 50px;
    overflow: hidden;
}
.panel-default>.panel-heading {
    background: transparent;
    font-size: 16px;
    font-weight: bold;
}
.panel-single-post > .panel-heading h1.title, .panel-single-post > .panel-heading .post-info {
    position: relative;
    z-index: 3;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-0 {
    margin-top: 0px!important;
}
.panel-single-post > .panel-heading .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00beb7;
    opacity: 1;
    filter: alpha(opacity=40);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.panel-single-post > .panel-heading .bgimg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    overflow: hidden;
    padding-top: 100%;
}
.panel-single-post .panel-body {
    padding: 35px 50px;
}
.entry {
    line-height: 1.8;
    font-size: 18px;
}

.post-list .post {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    
}
.single-post{
	min-height:500px;
}
.post-list .post a.pull-left {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    background-color: #00beb7;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 34px;
    display: table-cell;
    line-height: 120px;
}

.post-list .post .img-div {
    height: 176px;
}
.img-div {
    display: block;
    overflow: hidden;
    background-color: #fff;
}
.post-list .post .img-div {
    height: 176px;
}
.img-div {
    display: block;
    overflow: hidden;
    background-color: #fff;
}
.post-list .post .post-right {
    font-size: 13px;
    padding: 10px 20px 10px 130px;
}
.post-list .post h2.title {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 15px;
}
.post-list .post .post-right .author {
    line-height: 30px;
}
.post-list .post .post-right .author, .post-list .post .post-right ul.list-inline {
    color: #b3b3b3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mb-10 {
    margin-bottom: 10px;
}
.post-list .post .post-right .entry {
    color: #a1a1a1;
    font-size: 14px;
}
.entry {
    line-height: 1.8;
    font-size: 18px;
}

.post-list .post .post-right .author, .post-list .post .post-right ul.list-inline {
    color: #b3b3b3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
#tese {
    background: url(/templets/home/img/indexSpecial.png) no-repeat;
    height: 338px;
        background-size:100%;
    background-position: center;
}
#anli{
    background: url(/templets/home/img/index_bg1.png) no-repeat;
        max-width: 1920px;
    width: 100%;
height: 338px;
    background-size:100%;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
#liucheng {
    background: url(/templets/home/img/server_flow.png) no-repeat;
  height: 338px;
    background-size:100%;
    background-position: center;
}
#kemu {
    background: url(/templets/home/img/03.jpg) no-repeat;
  height: 338px;
    background-size:100%;
    background-position: center;
}
#why {
    background: url(/templets/home/img/06.jpg) no-repeat;
  height: 338px;
    background-size:100%;
    background-position: center;
}
